body {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  /*background:url("background.jpg");*/
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.line-break {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "stats" "text";

  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-rows: 1fr;
  background: rgba(6, 2, 66, 0.897);
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid  rgba(23, 7, 255, 0.897);
  border-right: 1px solid rgba(23, 7, 255, 0.897);
}
.card-stats .value{
  font-size:3vw;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:3vw;
}
.card-stats .type{
  font-size:2vw;
  text-transform: uppercase;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .title {
  color: rgba(6, 2, 66, 0.897);
  font-size:2vw;
}
.card-text p {
  color: grey;
  font-size: 1vw;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:2vw;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-text.card2 .date {
  color: rgb(180, 65, 142);
}
.card-stats.card2 .border {
  border-left: 1px solid rgb(180, 65, 142);
  border-right: 1px solid rgb(180, 65, 142);
}
.card-stats.card2 {
  background: rgb(180, 65, 142);
}

/*card3*/
.card-text.card3 .date {
  color: rgb(0, 129, 189);
}
.card-stats.card3 .border {
  border-left: 1px solid rgb(0, 129, 189);
  border-right: 1px solid rgb(0, 129, 189);
}
.card-stats.card3 {
  background: rgb(0, 129, 189);
}

/*card4*/
.card-text.card4 .date {
  color: rgb(0, 170, 105);
}
.card-stats.card4 .border {
  border-left: 1px solid rgb(0, 170, 105);
  border-right: 1px solid rgb(0, 170, 105);
}
.card-stats.card4 {
  background: rgb(0, 170, 105);
}

/*card5*/
.card-text.card5 .date {
  color: rgb(0, 189, 63);
}
.card-stats.card5 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card5 {
  background: rgb(0, 189, 63);
}

/*card6*/
.card-text.card6 .date {
  color: rgb(236, 201, 3);
}
.card-stats.card6 .border {
  border-left: 1px solid rgb(236, 201, 3);
  border-right: 1px solid rgb(236, 201, 3);
}
.card-stats.card6 {
  background: rgb(236, 201, 3);
}

/*card7*/
.card-text.card7 .date {
  color: rgb(255, 115, 0);
}
.card-stats.card7 .border {
  border-left: 1px solid rgb(255, 115, 0);
  border-right: 1px solid rgb(255, 115, 0);
}
.card-stats.card7 {
  background: rgb(255, 115, 0);
}

/*card8*/
.card-text.card8 .date {
  color: rgb(212, 59, 48);
}
.card-stats.card8 .border {
  border-left: 1px solid rgb(212, 59, 48);
  border-right: 1px solid rgb(212, 59, 48);
}
.card-stats.card8 {
  background: rgb(212, 59, 48);
}